name: style_check

on: [push]

jobs:
  style_ckeck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: "install style checker"
        run: pip install black
      - name: "run style check"
        run: black --check .
  filecreation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          name: my-artifact
          path: ALALALAL.txt
          retention-days: 1
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          name: my-artifact
          path: .coverage
          retention-days: 1
      - name: "install coverage"
        run: pip install -U coverage
      - name: "create a coverage report"
        run: coverage report tests
