name: style_check

on: [push]

jobs:
  style_ckeck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: "install style checker"
        run: pip install black
      - name: "run style check"
        run: black --check .
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: "install coverage"
        run: pip install -U coverage
      - name: "install pytest"
        run: pip install -U pytest
      - name: "install numpy"
        run: pip install -U numpy
      - name: "install matplotlib"
        run: pip install -U matplotlib
      - name: "run coverage test"
        run: coverage run -m pytest
      - name: "create a coverage report"
        run: coverage report -m
      - name: "archive test coverage results"      
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: .coverage
          retention-days: 1
          
